<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/styles/style3.css">
</head>
<body>
    <div class="page">
        <header class="page-header">
            <a href="main.ejs" class="back-arrow">←</a>
            <h1 id="subject-title"><%= Rubrik %></h1>
        </header>

        <main class="custom-content">
            <div class="left-section">
<<<<<<< Updated upstream
                  
                  
                <div class="question-box"><%= message %></div>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
                <button class="answer-btn"><%= Answer1 %></button>
                <button class="answer-btn"><%= Answer2 %></button>
                <button class="answer-btn"><%= Answer3 %></button>
                <button class="answer-btn"><%= Answer4 %></button>
=======
                <div class="question-box">Question will appear here</div>
                <button class="answer-btn">Answer 1</button>
                <button class="answer-btn">Answer 2</button>
                <button class="answer-btn">Answer 3</button>
                <button class="answer-btn">Answer 4</button>
>>>>>>> Stashed changes
=======
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
                <form action="answered" method="post" question="<%= message %>">
                <label for="answer">answer</label>
                <input type="text" placeholder="answer:" id="answer" name="answer">
                <button type="submit" class="answer-btn"></button>
                </form>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
            </div>

            <div class="right-section">
                <div class="image-box">
                    <span>Image will appear page-header</span>
                </div>
            </div>
        </main>
    </div>
<<<<<<< Updated upstream
=======
    
    
>>>>>>> Stashed changes
</body>
</html>